/*
    Naming convention based on http://chir.ag/projects/name-that-color/
*/
$alabaster:       #f8f8f8;
$asparagus:       #85994b;
$curious-blue:    #2b8cc4;
$rolling-stone:   #6f777b;
$silver-sand:     #bfc1c3;
$endeavour-blue:  #005ea5;
