.recruitment_banner {

  background-color: #005ea5;
  padding: 20px;
  display: none;

  &__heading {
    display: flex;
  }

  &__link {
    &:visited, &:hover, &:link {
      color: govuk-colour("white") !important;
    }
    &:focus {
      color: govuk-colour("black") !important;
    }
  }

  &__title {
    color: govuk-colour("white") !important;
    margin-bottom: 11px !important;
    flex: 1  !important;
  }

  &__link {
    font-size: 19px;
  }
}
